body {
  margin: 0;
  padding: 0;
  background: url('img/stars.jpg') center/cover no-repeat;
  height: 100vh;
  overflow: hidden;
  cursor: none;
}

.line {
  position: absolute;
  background-color: #fabe14;
}

.horizontal {
  width: 100%;
  height: 1px;
}

.vertical {
  height: 100%;
  width: 1px;
}

.target {
  position: absolute;
  width: 70px;
  height: 70px;
}

.coordinate {
  position: absolute;
  color: #fabe14;
  font-size: 18px;
}
